<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>welcome</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Azali Farabi</h1>
    <hr>
    <hr>
    <div>
        <p>Hi guys let me introduce my self to you, my name is Azali Farabi and Abi in short.</p>
        <p>I am a student of Algonova, I am currently studying Python Pro II.</p>
        <p>My hobbies are playing games, watching movies, and listening to music.</p>
        <p>My favorite game is Dota 2, my favorite movie is Interstellar, and my favorite music is Lo-fi.</p>
        <p>My favorite programming language is Python, and I am currently learning Flask.</p>
        <p>My goal is to become a full-stack developer.</p>
        <p>Thank you for reading my introduction.</p>
    </div>
    <div>
        <p>Feel free to contact me at:</p>
        <ul>
            <li>Email:abifarabi1972@gmail.com</li>
            <li>Instagram: <a href="https://www.instagram.com/azali_farabi/">@azali_farabi</a></li>
            <li>GitHub: <a href="https://github.com/abifarabi">abifarabi</a></li>
            <li>LinkedIn: <a href="https://www.linkedin.com/in/azali-farabi-2b0b1a1b6/">Azali Farabi</a></li>
        </ul>   
    </div>

    <div>
        <h3>Goto Another Pages</h3>
        <ul>
            <li><a href="/get">Form GET</a></li>
            <li><a href="/post">Form POST</a></li>
            <li><a href="/intro">Introduction</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li> 
        </ul>
    </div>

    
</body>
</html>